{% extends 'incl/base.html' %}
{% load static %}

{% block content %}
        <h2>Questions</h2>
        <form>
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                  <label for="inputTitle" class="col-form-label">Title</label>
                </div>
                <div class="col-auto">
                  <input type="text" id="inputTitle" class="form-control ask">
                </div>
            </div>
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                  <label for="inputText" class="col-form-label">Text</label>
                </div>
                <div class="col-auto">
                    <textarea class="form-control ask" id="inputText" rows="6"></textarea>
                </div>
            </div>
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                  <label for="inputTags" class="col-form-label">Tags</label>
                </div>
                <div class="col-auto">
                  <input type="text" id="inputTags" class="form-control ask">
                </div>
            </div>
            <a class="btn btn-primary ask_submit" href="{% url 'index' %}" role="button">Ask!</a>
          </form>
 {% endblock content %}