{% extends 'incl/base.html' %}
{% load static %}


{% block content %}
        <h2>Question</h2>
          <div class="row">
           <div class="col-3">
             <img class="avatar" src="{% static "img/avatar.jpeg" %}" alt="avatar">
             <p></p>
               
             <button type="button" class="btn btn-success">Like</button>
          
             <button type="button" class="btn btn-danger">Dislike</button>
          
            <output class="result-like" name="result">5</output>
            </div>
             <div class="col-9">
              <h3>Question </h3>
              Текст (от лат. textus — ткань; сплетение, сочетание) — зафиксированная на каком-либо материальном носителе человеческая мысль; в общем плане связная и полная последовательность символов.
              <p></p>
              Tags:<a href="{% url 'tag' %}" class="link-primary">Python</a>
             </div>
          </div>
          <hr class="hr_hr"/>
          {%for answer in answers %}
             {% include "incl/single_answer.html" %}
         {% endfor %}
           <hr class="hr_hr"/>
          <form>
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <textarea class="form-control ask" id="inputAnswer" rows="6" placeholder="Enter your answer here.."></textarea>
                </div>
            </div>
            <a class="btn btn-primary ask_submit" href="{% url 'index' %}" role="button">Answer!</a>
          </form>

{% endblock content %}